@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h4>Add a new student</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.StudentName)
  @Html.TextBoxFor(model => model.StudentName)

  @Html.Label("Select course")
  @Html.DropDownList("CourseId")

  @Html.LabelFor(model => model.EnrollDate)
  @Html.TextBoxFor(model => model.EnrollDate, "{0:d MMM yyyy}")

  <input type="submit" value="Add new student" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all students", "Index")</p>